<%= render :partial => "partial/header" %>
<section>
	<div class="container">
		<h1>PlayBook</h1>

		<p>
			More information in 
				<a href="https://github.com/mariohenriquezredondo/PlayBook">
				https://github.com/mariohenriquezredondo/PlayBook
				</a>
		</p>
	</div>
</section>
<%= render :partial => "partial/footer" %>