<%= render :partial => "partial/header" %>
<section class="about-content">
	<div class="container">
		<h1 class="text-center">PlayBook</h1>
      <br>
      <p class="text-center">
       <a href="http://twitter.com/wawandco" target="_blank">@Wawandco</a> product developed by <a href="http://twitter.com/mario_henriquez" target="_blank">@Mario_Henriquez</a>
      </p>
      <br>
		<p class="text-center">
			More information in the  
				<a href="https://github.com/mariohenriquezredondo/PlayBook" target="_blank">
				GitHub
				</a>
          repository!
		</p>
	</div>
</section>
<%= render :partial => "partial/footer" %>